---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import image1 from '../images/youtube.png'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hej!</h1>

<p>I'm Martina 👋 I work as a Technical Writer at <a href="https://www.tactilegames.com/">Tactile Games</a> 🎮. Previously I worked as an Education Engineer at <a href="http://wwwp.prisma.io/">Prisma</a> and a Documentation Manager at <a href="https://sitecore.com/">Sitecore</a> (C#, .NET Core). You can find me on <a href="https://github.com/mhwelander">GitHub</a> and <a href="https://www.linkedin.com/in/martinawelander/">LinkedIn</a>.</p>

<h2>YouTube</h2>

<Image src={image1} alt="bleh" />

<h2 id="documentation-examples">Documentation examples</h2>
<p>Check out the following examples of content that I have created:</p>
<ul>
<li><a href="https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-client/pagination">Pagination with Prisma Client</a></li>
<li><a href="https://doc.sitecore.com/developers/93/sitecore-experience-platform/en/xconnect-and-the-xdb.html">The xConnect and xDB documentation for 9.0+</a></li>
<li><a href="https://mhwelander.net/2016/05/19/lets-talk-about-session-state/">Let&#39;s Talk About Session State</a></li>
<li><a href="https://www.youtube.com/watch?v=TeUK2YmUJ1o">Video: Using Datasources</a></li>
</ul>
<h2 id="contact-me">Contact me</h2>

<p>📧 <a href="https://marhwellion.com/#">martinawelander@gmail.com</a></p>

		
		</main>
		<Footer />
	</body>
</html>
