---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'div'>;

const { class: className, title, ...props } = Astro.props;

---

<div class:list={[className, "block"]} {...props}>
	<slot />
</div>

<style>

    .block {
        /* background: rgb(var(--gray-light), 50%); */
        display: block;
        padding: 0.3em 1.5em;
        margin: 0 auto 1em;
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: 0.7em 1em;
        padding-left: calc(1.5em + 25px)        
    }


    .note {
        border-left: 5px solid #38b6f1;
        background-color: #38b6f12c;
        background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20shape-rendering%3D%22geometricPrecision%22%20text-rendering%3D%22geometricPrecision%22%20image-rendering%3D%22optimizeQuality%22%20fill%3D%22%2338b6f1%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M256%200c70.686%200%20134.69%2028.658%20181.016%2074.984C483.342%20121.31%20512%20185.314%20512%20256c0%2070.686-28.658%20134.69-74.984%20181.016C390.69%20483.342%20326.686%20512%20256%20512c-70.686%200-134.69-28.658-181.016-74.984C28.658%20390.69%200%20326.686%200%20256c0-70.686%2028.658-134.69%2074.984-181.016C121.31%2028.658%20185.314%200%20256%200zm19.546%20302.281c-.88%2022.063-38.246%2022.092-39.099-.007-3.779-37.804-13.444-127.553-13.136-163.074.312-10.946%209.383-17.426%2020.99-19.898%203.578-.765%207.512-1.136%2011.476-1.132%203.987.007%207.932.4%2011.514%201.165%2011.989%202.554%2021.402%209.301%2021.398%2020.444l-.044%201.117-13.099%20161.385zm-19.55%2039.211c14.453%200%2026.168%2011.717%2026.168%2026.171%200%2014.453-11.715%2026.167-26.168%2026.167s-26.171-11.714-26.171-26.167c0-14.454%2011.718-26.171%2026.171-26.171z%22%2F%3E%3C%2Fsvg%3E')

    }

    .warning {
        border-left: 5px solid #eb9928;
        background-color: #eb99282c;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20shape-rendering%3D%22geometricPrecision%22%20text-rendering%3D%22geometricPrecision%22%20image-rendering%3D%22optimizeQuality%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20viewBox%3D%220%200%20512%20463.43%22%20fill%3D%22%23eb9928%22%3E%3Cpath%20d%3D%22M189.46%2044.02c34.26-58.66%2099.16-58.77%20133.24.12l.97%201.81%20175.27%20304.4c33.71%2056.4-1.2%20113.76-66.17%20112.96v.12H73.53c-.9%200-1.78-.04-2.66-.11-58.34-.79-86.64-54.22-61.9-106.84.39-.85.82-1.67%201.28-2.46l-.04-.03%20179.3-309.94-.05-.03zm50.32%20302.4c4.26-4.13%209.35-6.19%2014.45-6.56%203.4-.24%206.8.29%209.94%201.48%203.13%201.19%206.01%203.03%208.39%205.41%206.92%206.91%208.72%2017.38%204.64%2026.16-2.69%205.8-7.08%209.7-12.11%2011.78-3.03%201.27-6.3%201.84-9.56%201.76-3.27-.08-6.49-.82-9.41-2.18-5.02-2.33-9.3-6.43-11.7-12.2-2.65-6.36-2.27-12.96.63-19.15%201.15-2.46%202.75-4.81%204.73-6.5zm33.86-47.07c-.8%2019.91-34.51%2019.93-35.28-.01-3.41-34.1-12.13-110.53-11.85-142.58.28-9.87%208.47-15.72%2018.94-17.95%203.23-.69%206.78-1.03%2010.35-1.02%203.6.01%207.16.36%2010.39%201.05%2010.82%202.3%2019.31%208.39%2019.31%2018.45l-.05%201-11.81%20141.06z%22%2F%3E%3C%2Fsvg%3E');

}
</style>
