---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---



<header>
	<nav>
		<div class="narrowNav">
			<h2 class="siteTitle"><a href="/">{SITE_TITLE} <span>&lt;3</span>	</a></h2>
			<div class="kebab">
				<a href="#" id="kebabToggle">
					Menu
				</a>
			</div>
			</div>
		<div class="internal-links hide" id="kebabLinks">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<!-- <HeaderLink href="/blog">Video Tutorials</HeaderLink>			
			<HeaderLink href="/blog">Programming Courses</HeaderLink>						
			<HeaderLink href="/resume">Resumé</HeaderLink> -->
		</div>
	</div>

		<div class="social-links">
			<a href="https://github.com/mhwelander" target="_blank">
				<span class="sr-only">Follow Martina on GitHub</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
			</a>
			<a href="https://bsky.app/profile/mhwelander.bsky.social" target="_blank">
				<span class="sr-only">Follow Martina on Bluesky</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -3.268 64 68.414" width="24" height="24"><path fill="#000" d="M13.873 3.805C21.21 9.332 29.103 20.537 32 26.55v15.882c0-.338-.13.044-.41.867-1.512 4.456-7.418 21.847-20.923 7.944-7.111-7.32-3.819-14.64 9.125-16.85-7.405 1.264-15.73-.825-18.014-9.015C1.12 23.022 0 8.51 0 6.55 0-3.268 8.579-.182 13.873 3.805zm36.254 0C42.79 9.332 34.897 20.537 32 26.55v15.882c0-.338.13.044.41.867 1.512 4.456 7.418 21.847 20.923 7.944 7.111-7.32 3.819-14.64-9.125-16.85 7.405 1.264 15.73-.825 18.014-9.015C62.88 23.022 64 8.51 64 6.55c0-9.818-8.578-6.732-13.873-2.745z"/></svg>
			</a>
			<a href="https://www.youtube.com/martinahelenewelander" target="_blank">
				<span class="sr-only">Follow Martina on YouTube</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" data-astro-cid-3ef6ksr2=""><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z" data-astro-cid-3ef6ksr2=""></path></svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
        border-image: linear-gradient(90deg, rgba(56,182,241,1) 0%, rgba(255,129,157,1) 100%) 1;
        border-bottom-width: 7px;
        border-bottom-style: solid;
	}
	h2 {
		margin: 0;
		font-size: 1.4em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}

	h2 a span {
		color: var(--link);
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 70px;
	}
	
	nav .kebab {
		display: none;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
	}
	
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links,
		.internal-links {
			/* display: none; */
		}
		.internal-links.show {
			display: block;
		}

		.social-links { 
			display: none;
		}

		nav h2 {
			padding: 1em 0;
		}

		nav {
			display: block;
		}

		nav .narrowNav { 
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		nav .kebab {
			display: flex;
			padding: 0 1em;
		}

		.internal-links {
			border-top: 1px solid rgb(var(--gray-light));
			padding: 1em 0;
			display: none;
		}

		.internal-links a.active {
			border: 0;
		}

		.internal-links a {
			display: block;
			padding: 0.2em 0.5em;
			border: 0;
		}

	}

	@media (max-width: 360px) {
	}
</style>

<script>
	var y = document.getElementById("kebabLinks");
	var x = document.getElementById("kebabToggle");
	
	if (x) {
	x.addEventListener('click', () => toggleNav() ) }
	
	function toggleNav() {
		if (y) {
		y.classList.toggle("show") }
	}
	
	
	</script>